%h1.page-header Dashboard

%div.row.summary
  %div.col-sm-6.incomes
    %span.income 1692 &euro;
  %div.col-sm-6.expends
    %span.expend 555 &euro;

%h2.sub-header Transactions

%div.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th
        %th Concept
        %th Date
        %th Amount
    %tbody
      %tr
        %td 1
        %td Salary
        %td 31-10-2014
        %td 1692 &euro;

